#home {
  height: 100vh;
  background: var(--bg-color);
}

#home .wrapper {
  position: relative;
}

#home .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.home__title {
  font-size: 5rem;
  color: var(--primary-color);
  border-right: 2px solid var(--white);
  width: calc(100% + 8px);
  white-space: nowrap;
  overflow: hidden;
  animation: typing 20s steps(20) infinite, blinking 0.7s infinite step-end alternate;
}

.home__subtitle {
  font-size: 4rem;
}

.scroll {
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--light-gray);

  animation: noticeScroll 2s ease-in-out infinite;
}

@keyframes noticeScroll {
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes typing {
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
    width: 0;
  }
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
    width: calc(100% + 8px);
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}


@media (max-width: 1100px) {
  .home__title {
    font-size: 4.5rem;
  }
  .home__subtitle {
    font-size: 3.5rem;
  }
}

@media (max-width: 700px) {
  .home__title {
    font-size: 3.5rem;
  }
  .home__subtitle {
    font-size: 3rem;
  }

  .scroll {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  /* .home__presentation {
    width: 100%;
    text-align: left;
  } */

  .home__title {
    font-size: 3rem;
  }
  .home__subtitle {
    font-size: 2.5rem;
  }

  .scroll {
    font-size: 1.4rem;
  }
}


@media (max-width: 450px) {
  .home__title {
    font-size: 2.5rem;
  }
  .home__subtitle {
    font-size: 2rem;
  }
}
